@import '../Fonts/Gilroy/Gilroy';
@import '../Fonts/DIN Pro/DINPro';
// @import url('Gilroy-Regular.eot');
// @import url('Gilroy-ExtraBold.eot');
@import './variables';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


* {
   font-family: 'Gilroy Regular', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

ul,
li,
dl {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
}

a {
   text-decoration: none;
   color: inherit;
   display: inline-block;

   &:hover {
      text-decoration: none;
      color: inherit;
   }
}

p {
   margin: 0;
   padding: 0;
}

.container {
   padding: 26px 70px 16px 45px;
   position: relative;
}

::-webkit-scrollbar {
   width: 20px;
}

::-webkit-scrollbar-track {
   background-color: $dark;
   border-radius: 9px;
   border: 7px solid transparent;
   background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
   background-color: $pink;
   border-radius: 1em;
   box-shadow: inset 5px 5px 5px #92426d, inset -5px -5px 5px #e198b9;
}