.carousel-container {
   height: 768px;
   width: 1024px;
}

.window {
   height: 100%;
   width: 100%;
   overflow: hidden;
}

.all-pages-container {
   height: 100%;
   display: flex;
   transition: all 250ms linear;
}

.left-arrow,
.right-arrow {
   position: absolute;
   z-index: 1;
   top: 50%;
   transform: translateY(-50%);
   width: 48px;
   height: 48px;
   border-radius: 24px;
   background-color: white;
   border: 1px solid #ddd;
}

.left-arrow {
   left: 24px;
}

.right-arrow {
   right: 24px;
}